[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "hmsidwR"]
	path = hmsidwR
	url = https://github.com/fgazzelloni/hmsidwr
[submodule "typeR"]
	path = typeR
	url = https://github.com/fgazzelloni/typer
